<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./partials/style") %>
</head>
<body>
    <%- include("./partials/nav") %>

    <form>
    <div class="mb-3">
    <label  class="form-label">First Name</label>
    <input type="text" class="form-control" required>
    <label  class="form-label">Last Name</label>
    <input type="text" class="form-control" >
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" required aria-describedby="emailHelp">
  </div>
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" required id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
    <input type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Upload Profile Image</label>
    <input type="file" class="form-control">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


    <%- include("./partials/script") %>
</body>
</html>